<div mat-dialog-content>
    <form [formGroup]="unitForm" appFireForm [path]="path" (stateChange)="changeHandler($event)">
        <mat-form-field class="info">
            <textarea matInput placeholder="Veřejné info" formControlName="publicInfo"></textarea>
        </mat-form-field>
        <br />
        <mat-form-field class="info">
            <textarea matInput placeholder="Info pro hráče" formControlName="delegateInfo"></textarea>
        </mat-form-field>
        <br />
        <mat-form-field class="info">
            <textarea matInput placeholder="Info pro orgy" formControlName="internalInfo"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Zavřít</button> {{ state }}
</div>