<div *ngIf="signedIn | async else showLogin">
    <mat-toolbar color="primary">
        <span>{{title}}</span>&nbsp;&nbsp;&nbsp;
        <mat-button-toggle-group [(ngModel)]="selectedMenuItem">
            <mat-button-toggle value="rounds" class="small">
                Kola
            </mat-button-toggle>
            <mat-button-toggle value="delegations" class="small">
                Frakce
            </mat-button-toggle>
            <mat-button-toggle value="delegates" class="small">
                Hráči
            </mat-button-toggle>
            <mat-button-toggle value="projects" class="small">
                Mise
            </mat-button-toggle>
            <mat-button-toggle value="landsraad" class="small">
                Landsraad
            </mat-button-toggle>
        </mat-button-toggle-group>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <app-rounds *ngIf="selectedMenuItem == 'rounds'"></app-rounds>
    <app-delegations *ngIf="selectedMenuItem == 'delegations'"></app-delegations>
    <app-delegates *ngIf="selectedMenuItem == 'delegates'"></app-delegates>
    <app-projects *ngIf="selectedMenuItem == 'projects'"></app-projects>
    <app-landsraad *ngIf="selectedMenuItem == 'landsraad'"></app-landsraad>
</div>
<ng-template #showLogin>
    <mat-toolbar color="primary">
        <span>{{title}}</span>
    </mat-toolbar>

    <div class="tab-content" *ngIf="!initializing">
        <mat-card>
            <form (submit)="login(password)">
                <mat-form-field>
                    <input matInput placeholder="Váš admin kód" type="password" id="password" #password>
                </mat-form-field>
                <br />
                <button type="submit" mat-raised-button color="accent" (click)="login(password)"
                    [disabled]="loading">{{loading ? "Ověřuji…" : "Ověřit identitu"}}</button>
                <p class="error" *ngIf="passwordError">Neplatná identita, zkuste to znovu.</p>
            </form>
        </mat-card>
    </div>
</ng-template>