<div *ngIf="signedIn | async else showLogin">
    <mat-toolbar color="primary">
        <span>{{title}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <!-- TODO -->
</div>
<ng-template #showLogin>
    <mat-toolbar color="primary">
        <span>{{title}}</span>
    </mat-toolbar>

    <div class="tab-content">
        <mat-card>
            <mat-form-field>
                <input matInput placeholder="Váš švýcarský kód" type="password" id="password" #password>
            </mat-form-field>
            <br />
            <button mat-raised-button color="accent" (click)="login(password)"
                [disabled]="loading">{{loading ? "Ověřuji…" : "Ověřit identitu"}}</button>
            <p class="error" *ngIf="passwordError">Neplatná identita, zkuste to znovu.</p>
        </mat-card>
    </div>
</ng-template>