<mat-card class="card">
    <form (ngSubmit)="addRound(addRoundForm)" #addRoundForm="ngForm">
        <mat-form-field>
            <input matInput placeholder="Název" type="text" name="name" required ngModel>
        </mat-form-field>
        <br />
        <mat-form-field>
            <input matInput placeholder="Deadline odeslání depeší" type="text" name="deadline" required ngModel>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Typ kola</mat-label>
            <mat-select name="tense" required ngModel>
                <mat-option *ngFor="let tense of tenses" [value]="tense.value">
                    {{tense.name}}
                </mat-option>
            </mat-select>
        </mat-form-field><br />
        <button type="submit" mat-raised-button color="accent">Přidat kolo</button>
    </form>
</mat-card>
<p>Jak začít s čistou databází:</p>
<ol>
    <li>Přidej všechna kola</li>
    <li>Přidej všechny delegace</li>
    <li>Přidej všechny delegáty</li>
    <li>Změň v kolech jiné hodnoty pro různá kola (počet DF, kdo je vedoucí atd.)</li>
</ol>
<p>Během hry:</p>
<ol>
    <li>V aktuálním kole čekej až se bude blížit deadline, akce si můžeš vyexportovat i dřív pro informaci</li>
    <li>Sleduj kolik delegátů označilo depeši za odeslanou, těm kteří to pořád nemají blízko deadlinu napiš</li>
    <li>Pokud delegáti nestíhají, posuň deadline</li>
    <li>Až se rozhodneš ukončit kolo, změň aktuální kolo na proběhlé a to další nastav na aktuální</li>
    <li>Vyexportuj akce, vyhodnoť je v Google Sheets nebo Excelu a nahraj CSV ve stejném formátu s výsledky zpět</li>
</ol>
<p>TODO:</p>
<ul>
    <li>Počítání delegátů v delegacích</li>
    <li>Když se změní delegace, měla by se taky změnit u akcí</li>
    <li>U delegátů v kole kolik DF použito/dostupné</li>
    <li>Výchozí vedoucí u přidávání delegáta</li>
    <li>Security rules</li>
</ul>