<mat-card class="card">
    <form (ngSubmit)="addRound(addRoundForm)" #addRoundForm="ngForm">
        <mat-form-field>
            <input matInput placeholder="Název" type="text" name="name" required ngModel>
        </mat-form-field>
        <br />
        <mat-form-field>
            <input matInput placeholder="Deadline odeslání depeší" type="text" name="deadline" required ngModel>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Typ kola</mat-label>
            <mat-select name="tense" required ngModel>
                <mat-option *ngFor="let tense of tenses" [value]="tense.value">
                    {{tense.name}}
                </mat-option>
            </mat-select>
        </mat-form-field><br />
        <mat-form-field>
            <mat-label>Velikost kola</mat-label>
            <mat-select name="size" required ngModel>
                <mat-option *ngFor="let size of sizes" [value]="size.value">
                    {{size.name}}
                </mat-option>
            </mat-select>
        </mat-form-field><br />
        <button type="submit" mat-raised-button color="accent">Přidat kolo</button>
    </form>
</mat-card>