<mat-card class="card">
    <form [formGroup]="roundForm" appFireForm [path]="path" (stateChange)="changeHandler($event)">
        <mat-form-field>
            <input matInput placeholder="Název" type="text" formControlName="name">
        </mat-form-field>&nbsp;
        <mat-form-field>
            <input matInput placeholder="Deadline odeslání depeší" type="text" formControlName="deadline">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Typ kola</mat-label>
            <mat-select formControlName="tense">
                <mat-option *ngFor="let tense of tenses" [value]="tense.value">
                    {{tense.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <mat-card-footer class="state mat-small">{{state}}</mat-card-footer>
</mat-card>
<p>Delegáti:</p>
<mat-card class="card">
    <app-round-delegate-form *ngFor="let path of delegatePaths | async" [path]="path"></app-round-delegate-form>
</mat-card>
<p>Akce:</p>
<button mat-raised-button color="accent" (click)="exportActions()">Export akcí</button><br /><br />
<mat-form-field>
    <ngx-mat-file-input placeholder="Vyber CSV soubor" [accept]="'.csv'" #file></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
</mat-form-field>
&nbsp;
<button mat-stroked-button color="accent" (click)="importActions(file)">Import výsledků</button>
<p>TODO: Seznam delegací a u nich:</p>
<ul>
    <li>Kdo je vedoucí</li>
    <li>Kolik DF je na delegaci</li>
    <li>Důležitá sdělení vlády</li>
</ul>
<p>TODO: přidání nového kola a mazání kola a potvrzení, jestli fakt smazat</p>
<p>TODO obecně:</p>
<ul>
    <li>Přiřazování hlavních akcí</li>
    <li>Počítání delegátů v delegacích</li>
    <li>Security rules</li>
</ul>