<mat-card class="card">
    <form [formGroup]="roundForm" appFireForm [path]="path" (stateChange)="changeHandler($event)">
        <mat-form-field>
            <input matInput placeholder="Název" type="text" formControlName="name">
        </mat-form-field>&nbsp;
        <mat-form-field>
            <input matInput placeholder="Deadline odeslání depeší" type="text" formControlName="deadline">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Typ kola</mat-label>
            <mat-select formControlName="tense">
                <mat-option *ngFor="let tense of tenses" [value]="tense.value">
                    {{tense.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <mat-card-footer class="state mat-small">{{state}}</mat-card-footer>
</mat-card>
<p>Delegáti:</p>
<mat-card class="card">
    <div *ngIf="editingDelegates">
        <app-round-delegate-form *ngFor="let path of delegatePaths | async" [path]="path"></app-round-delegate-form>
    </div>
    <button mat-button color="accent" *ngIf="!editingDelegates" (click)="editDelegates()">Upravit</button>
</mat-card>
<p>Akce:</p>
<mat-card class="card">
    <button mat-raised-button color="accent" (click)="exportActions()">Export akcí</button><br /><br />
    <mat-form-field>
        <ngx-mat-file-input placeholder="Vyber CSV soubor" [accept]="'.csv'" #file></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    &nbsp;
    <button mat-stroked-button color="accent" (click)="importActions(file)">Import výsledků</button>
</mat-card>
<p>Delegace:</p>
<mat-card class="card">
    <div *ngIf="editingDelegations">
        <app-round-delegation-form *ngFor="let path of delegationPaths | async" [path]="path">
        </app-round-delegation-form>
    </div>
    <button mat-button color="accent" *ngIf="!editingDelegations" (click)="editDelegations()">Upravit</button>
</mat-card>
<br />
<button mat-stroked-button color="accent" (click)="deleteRound()">Smazat kolo</button>&nbsp;
<button mat-stroked-button color="accent" (click)="deleteActions()">Smazat akce</button>