<mat-card class="card">
    <form [formGroup]="roundForm" appFireForm [path]="path" (stateChange)="changeHandler($event)">
        <mat-form-field>
            <input matInput placeholder="Název" type="text" formControlName="name">
        </mat-form-field>&nbsp;
        <mat-form-field>
            <input matInput placeholder="Deadline odeslání depeší" type="text" formControlName="deadline">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Typ kola</mat-label>
            <mat-select formControlName="tense">
                <mat-option *ngFor="let tense of tenses" [value]="tense.value">
                    {{tense.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Velikost kola</mat-label>
            <mat-select formControlName="size">
                <mat-option *ngFor="let size of sizes" [value]="size.value">
                    {{size.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <mat-card-footer class="state mat-small">{{state}}</mat-card-footer>
</mat-card>
<p>Hráči:</p>
<mat-card class="card">
    <div *ngIf="editingDelegates">
        <app-round-delegate-form *ngFor="let path of delegatePaths | async" [path]="path"></app-round-delegate-form>
    </div>
    <button mat-button color="accent" *ngIf="!editingDelegates" (click)="editDelegates()">Upravit</button>
</mat-card>
<p>Body vlivu:</p>
<mat-card class="card">
    <div *ngIf="editingBv">
        <form #selectDelegateForm="ngForm">
            <mat-form-field>
                <mat-label>Hráč</mat-label>
                <mat-select name="delegate" ngModel (selectionChange)="delegateChanged(selectDelegateForm)">
                    <mat-option *ngFor="let delegate of delegates | async" value="{{delegate.value}}">
                        {{delegate.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <span *ngIf="bvDelegateId">
                {{ delegateTotalBv | async }} BV celkově
            </span>
        </form>
        <app-round-bv-form *ngFor="let path of bvPaths | async" [path]="path"></app-round-bv-form>
        <form (ngSubmit)="addBv(addBvForm)" #addBvForm="ngForm" *ngIf="bvDelegateId">
            <mat-form-field class="number">
                <input matInput placeholder="Změna BV" type="number" name="bv" required ngModel>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="Popis" type="text" name="description" ngModel>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="number">
                <input matInput placeholder="Počet kol" type="number" name="rounds" required ngModel>
            </mat-form-field>
            &nbsp;
            <button type="Submit" mat-raised-button color="accent">Přidat</button>
        </form>
    </div>
    <button mat-button color="accent" *ngIf="!editingBv" (click)="editBv()">Upravit</button>
    <br /><br />
    <button mat-stroked-button color="accent" (click)="exportBv()">Export BV pro všechna kola</button>
</mat-card>
<p>Akce:</p>
<mat-card class="card">
    <button mat-raised-button color="accent" (click)="exportActions()">Export akcí</button><br /><br />
    <mat-form-field>
        <ngx-mat-file-input placeholder="Vyber CSV soubor" [accept]="'.csv'" #file></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    &nbsp;
    <button mat-stroked-button color="accent" (click)="importActions(file)">Import výsledků</button>
</mat-card>
<p>Mise:</p>
<mat-card class="card">
    <table mat-table [dataSource]="projects | async" *ngIf="showingProjects">

        <ng-container matColumnDef="keyword">
            <th mat-header-cell *matHeaderCellDef> Klíčové slovo </th>
            <td mat-cell *matCellDef="let element"> {{element.keyword}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Název </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="delegations">
            <th mat-header-cell *matHeaderCellDef> Zúčastněné frakce </th>
            <td mat-cell *matCellDef="let element"> {{element.delegations}} </td>
        </ng-container>

        <ng-container matColumnDef="df">
            <th mat-header-cell *matHeaderCellDef> BV </th>
            <td mat-cell *matCellDef="let element">
                <span class="positive" *ngIf="element.dfOk"> {{element.df}}</span>
                <span *ngIf="!element.dfOk"> {{element.df}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="mainActions">
            <th mat-header-cell *matHeaderCellDef> Primární akce </th>
            <td mat-cell *matCellDef="let element">
                <span class="positive" *ngIf="element.mainActionsOk"> {{element.mainActions}}</span>
                <span *ngIf="!element.mainActionsOk"> {{element.mainActions}}</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-button color="accent" *ngIf="!showingProjects" (click)="showProjects()">Ukázat progress
        misí</button>
</mat-card>
<br />
<button mat-stroked-button color="accent" (click)="deleteRound()">Smazat kolo</button>&nbsp;
<button mat-stroked-button color="accent" (click)="deleteActions()">Smazat akce</button>