<div class="tab-content">
    <mat-card class="card">
        <app-delegate-form *ngFor="let path of delegatePaths | async" [path]="path"></app-delegate-form>
    </mat-card>
    <p>Přidat hráče:</p>
    <mat-card class="card">
        <form (ngSubmit)="addDelegate(addDelegateForm)" #addDelegateForm="ngForm">
            <mat-form-field>
                <input matInput placeholder="Jméno" type="text" name="name" required ngModel>
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput placeholder="Heslo" type="text" name="password" required ngModel>
            </mat-form-field>
            <br /><br />
            <button type="Submit" mat-raised-button color="accent">Přidat hráče</button>
        </form>
    </mat-card>
</div>