<ng-container *ngIf="(roundInfo | async) as info">
    <mat-card class="action">
        <p><i class="em-svg em-{{ info.country }}"></i> {{ info.name }}, vedoucí delegace:
            {{ info.leader }}
        </p>
        <p *ngIf="info.presentRound">Deadline odeslání depeše: <strong>{{ info.deadline }}</strong>
        </p>
        <p *ngIf="!info.presentRound">Deadline odeslání depeše: {{ info.deadline }}</p>
        <p *ngIf="info.presentRound">K dispozici: <strong>{{ info.df }} DF</strong> z {{info.availableDf}} DF</p>
        <p *ngIf="!info.presentRound">Použito: {{ info.df }} DF z {{info.availableDf}} DF</p>
    </mat-card>
    <mat-card class="action" *ngIf="info.message">
        <p>Důležitá sdělení vlády:</p>
        <p><strong>{{info.message}}</strong></p>
    </mat-card>
</ng-container>