<ng-container *ngIf="(roundInfo | async) as info">
    <mat-card class="action">
        <p><i class="em-svg em-{{ info.flag }}"></i> {{ info.name }}, vedoucí delegace:
            {{ info.leader }}
        </p>
        <p *ngIf="info.presentRound">Deadline odeslání depeše: <strong>{{ info.deadline }}</strong>
        </p>
        <p *ngIf="!info.presentRound">Deadline odeslání depeše: {{ info.deadline }}</p>
        <p *ngIf="info.presentRound">K dispozici:
            <strong *ngIf="info.df == 0" class="positive">{{ info.df }} BV</strong>
            <strong *ngIf="info.df > 0">{{ info.df }} BV</strong>
            <strong *ngIf="info.df < 0" class="negative">{{ info.df }} BV</strong>
            z {{info.availableDf}} BV</p>
        <p *ngIf="!info.presentRound">Použito: {{ info.df }} BV z {{info.availableDf}} BV</p>
    </mat-card>
    <mat-card class="action" *ngIf="info.message">
        <p>Důležitá sdělení vedení:</p>
        <p><strong>{{info.message}}</strong></p>
    </mat-card>
</ng-container>