<div class="tab-content">
    <mat-card class="card">
        <app-delegation-form *ngFor="let path of delegationPaths | async" [path]="path"></app-delegation-form>
    </mat-card>
    <p>Přidat delegaci:</p>
    <mat-card class="card">
        <form (ngSubmit)="addDelegation(addDelegationForm)" #addDelegationForm="ngForm">
            <mat-form-field class="text">
                <input matInput placeholder="Název" type="text" name="name" required ngModel>
            </mat-form-field>
            <br />
            <mat-form-field class="text">
                <input matInput placeholder="Vlajka" type="text" name="flag" required ngModel>
                <mat-hint>Zkopíruj název emoji <a href="https://afeld.github.io/emoji-css/" target="_blank">odsud</a> (např. "flag-cz")</mat-hint>
            </mat-form-field>
            <br />
            <mat-form-field class="df">
                <input matInput placeholder="Výchozí DF na kolo" type="number" name="defaultDf" required ngModel>
            </mat-form-field>
            <br />
            <button type="Submit" mat-raised-button color="accent">Přidat delegaci</button>
        </form>
    </mat-card>
</div>