<div *ngIf="delegateName | async as name else showLogin">
    <mat-toolbar color="primary">
        <span>{{title}}</span>
        <span class="fill-remaining-space"></span>
        <div class="personal">
            <span class="name">{{ name }}</span>
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button> <br />
            <a href="{{ spreadsheet | async }}" target="_blank" class="spreadsheet">Osobní přehled</a>
        </div>
    </mat-toolbar>
    <app-voting *ngIf="votingQuestion | async"></app-voting>
    <app-rounds></app-rounds>
</div>
<ng-template #showLogin>
    <mat-toolbar color="primary">
        <span>{{title}}</span>
    </mat-toolbar>

    <div class="tab-content" *ngIf="!initializing">
        <mat-card>
            <form (submit)="login(password)">
                <mat-form-field>
                    <input matInput placeholder="Váš tajný kód" type="password" id="password" #password>
                </mat-form-field>
                <br />
                <button type="submit" mat-raised-button color="accent" (click)="login(password)"
                    [disabled]="loading">{{loading ? "Ověřuji…" : "Ověřit identitu"}}</button>
                <p class="error" *ngIf="passwordError">Neplatná identita, zkuste to znovu.</p>
            </form>
        </mat-card>
    </div>
</ng-template>