<app-round-info [roundId]="roundId"></app-round-info>
<p>Primární akce:</p>
<app-action-form *ngFor="let path of primaryActionPaths | async" [path]="path"></app-action-form>
<p>Sekundární akce:</p>
<app-action-form *ngFor="let path of secondaryActionPaths | async" [path]="path"></app-action-form>
<button mat-stroked-button color="accent" (click)="addSecondaryAction()">
  <mat-icon>add</mat-icon>
  Přidat sekundární akci
</button>
<br />
<br />
<br />
<button mat-raised-button color="accent" *ngIf="!(markedAsSent | async) else sent" (click)="send()">Odeslat depeši</button>
<ng-template #sent>
  <strong>Depeše odeslána</strong>
</ng-template>
<br />
<br />
(Všechny změny v depeši se ukládají automaticky. Kliknutím na "Odeslat depeši" dáváte najevo, že depeše je
kompletní a může začít vyhodnocování. Vyhodnocování také začne po deadlinu i pokud jste depeši neodeslali. Pokud
potřebujete více času, napište Reuters.)