<mat-card>
  <app-round-info [roundId]="roundId"></app-round-info>
  <p>K dispozici: <strong>{{remainingDf}} DF</strong> z {{availableDf}} DF</p>
</mat-card>
<p>Primární akce:</p>
<mat-card *ngFor="let action of primaryActions" class="action">
  <mat-form-field class="stretch">
    <input matInput placeholder="Popis akce" type="text">
  </mat-form-field>
  <mat-form-field class="df">
    <input matInput placeholder="DF" type="number" [ngModel]="action.df"
      (ngModelChange)="calculateRemainingDf(action, $event)">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput placeholder="Klíčové slovo" type="text">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Cílová země</mat-label>
    <mat-select>
      <mat-option *ngFor="let country of countries" [value]="country.value">
        <i class="em-svg em-{{country.value}}"></i> {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Viditelnost</mat-label>
    <mat-select [(value)]="action.visibility">
      <mat-option *ngFor="let visibility of visibilities" value="{{visibility.value}}">
        {{visibility.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
<p>Sekundární akce:</p>
<mat-card *ngFor="let action of secondaryActions" class="action">
  <mat-form-field class="stretch">
    <input matInput placeholder="Popis akce" type="text">
  </mat-form-field>
  <mat-form-field class="df">
    <input matInput placeholder="DF" type="number" [ngModel]="action.df"
      (ngModelChange)="calculateRemainingDf(action, $event)">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput placeholder="Klíčové slovo" type="text">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Cílová země</mat-label>
    <mat-select>
      <mat-option *ngFor="let country of countries" [value]="country.value">
        <i class="em-svg em-{{country.value}}"></i> {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Viditelnost</mat-label>
    <mat-select [(value)]="action.visibility">
      <mat-option *ngFor="let visibility of visibilities" value="{{visibility.value}}">
        {{visibility.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field class="type">
    <mat-label>Typ</mat-label>
    <mat-select [(value)]="action.type">
      <mat-option *ngFor="let type of actionTypes" value="{{type.value}}">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
<button mat-stroked-button color="accent" (click)="addSecondaryAction()">
  <mat-icon>add</mat-icon>
  Přidat sekundární akci
</button>
<br />
<br />
<br />
<button mat-raised-button color="accent" *ngIf="!sent" (click)="send()">Odeslat depeši</button>
<strong *ngIf="sent">Depeše odeslána</strong>
<br />
<br />
(Všechny změny v depeši se ukládají automaticky. Kliknutím na "Odeslat depeši" dáváte najevo, že depeše je
kompletní a může začít vyhodnocování. Vyhodnocování také začne po deadlinu i pokud jste depeši neodeslali. Pokud
potřebujete více času, napište Reuters.)