<p><strong>{{actionForm.value.title}}</strong></p>
<mat-card class="action">
    <form [formGroup]="actionForm" appFireForm [path]="path" (stateChange)="changeHandler($event)">
        <mat-form-field class="stretch">
            <textarea matInput placeholder="Popis akce" type="text" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field *ngIf="actionForm.value.type == 'mission'">
            <mat-label>Mise</mat-label>
            <mat-select formControlName="identifier" (selectionChange)="missionChanged($event)">
                <mat-option *ngFor="let mission of missions | async" [value]="mission.value">
                    {{mission.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="actionForm.value.type == 'other'">
            <mat-label>Jednotka</mat-label>
            <mat-select formControlName="identifier">
                <mat-option *ngFor="let unit of units | async" [value]="unit.value">
                    {{unit.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <ng-container *ngIf="actionForm.value.type == 'other' || actionForm.value.type == 'mission'">
            &nbsp;
        </ng-container>
        <mat-form-field class="df">
            <input matInput placeholder="BV" type="number" formControlName="df"
                [attr.disabled]="actionForm.value.type == 'mission' ? '' : null" max="4" min="0"
                (change)="dfChanged($event)">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Lokace</mat-label>
            <mat-select formControlName="targetCountry">
                <mat-option *ngFor="let country of countries" [value]="country.value">
                    <i class="em-svg em-{{country.value}}"></i> {{country.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <input matInput placeholder="Klíčové slovo" type="text" formControlName="keyword">
        </mat-form-field>
    </form>
    <div *ngIf="projectCondition" class="projectDescription"><i>Podmínka: </i>{{ projectCondition }}</div>
    <div *ngIf="projectBenefit" class="projectDescription"><i>Benefit: </i>{{ projectBenefit }}</div>
    <mat-card-footer class="state mat-small">{{state}}</mat-card-footer>
</mat-card>