<p><strong>{{actionForm.value.title}}</strong></p>
<mat-card class="action">
    <form [formGroup]="actionForm" appFireForm [path]="path" (stateChange)="changeHandler($event)">
        <mat-form-field class="stretch">
            <textarea matInput placeholder="Popis akce" type="text" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field class="df">
            <input matInput placeholder="BV" type="number" formControlName="df" [attr.disabled]="actionForm.value.type == 'mission' ? '' : null" max="4" min="0" (change)="dfChanged($event)">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <input matInput placeholder="Klíčové slovo" type="text" formControlName="keyword" [attr.disabled]="actionForm.value.type == 'mission' ? '' : null">
            <mat-icon matSuffix (click)="projectSelected()" *ngIf="actionForm.value.type == 'mission'">list</mat-icon>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Lokace</mat-label>
            <mat-select formControlName="targetCountry">
                <mat-option *ngFor="let country of countries" [value]="country.value">
                    <i class="em-svg em-{{country.value}}"></i> {{country.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <mat-card-footer class="state mat-small">{{state}}</mat-card-footer>
</mat-card>