<form [formGroup]="delegationForm" appFireForm [path]="path" (stateChange)="changeHandler($event)">
    <mat-form-field>
        <input matInput placeholder="Název" type="text" formControlName="name">
    </mat-form-field>&nbsp;
    <i class="em-svg em-{{ delegationForm.controls.flag.value }}"></i>&nbsp;
    <mat-form-field>
        <input matInput placeholder="Vlajka" type="text" formControlName="flag">
    </mat-form-field>
    {{ state }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button color="accent" (click)="delete()">
        Smazat
    </button>
</form>