/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
     font-family: Verdana, sans-serif;
     background-color: #121212;
}
.error {
    color: #f44336;
}
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.action {
    margin-bottom: 1em;
}
.tab-content {
    padding: 1em;
}
a {
    color: #FFA000;
}