<div class="tab-content">
    <mat-card class="card">
        <form #selectDelegateForm="ngForm">
            <mat-form-field>
                <mat-label>Delegát</mat-label>
                <mat-select name="delegate" ngModel (selectionChange)="delegateChanged(selectDelegateForm)">
                    <mat-option *ngFor="let delegate of delegates | async" value="{{delegate.value}}">
                        {{delegate.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <app-project-form *ngFor="let path of projectPaths | async" [path]="path"></app-project-form>
    </mat-card>
    <p>Přidat misi:</p>
    <mat-card class="card">
        <form (ngSubmit)="addProject(addProjectForm)" #addProjectForm="ngForm">
            <mat-form-field class="text">
                <input matInput placeholder="Název" type="text" name="name" required ngModel>
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput placeholder="Klíčové slovo" type="text" name="keyword" required ngModel>
            </mat-form-field>
            <br />
            <mat-form-field class="number">
                <input matInput placeholder="Cena BV" type="number" name="df" required ngModel>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Delegát</mat-label>
                <mat-select name="delegate" required ngModel>
                    <mat-option *ngFor="let delegate of delegates | async" value="{{delegate.value}}">
                        {{delegate.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput placeholder="Podmínka" type="text" name="condition" ngModel>
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput placeholder="Benefit" type="text" name="benefit" ngModel>
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput placeholder="Instrukce" type="text" name="instructions" ngModel>
            </mat-form-field>
            <br />
            <button type="Submit" mat-raised-button color="accent">Přidat misi</button>
        </form>
    </mat-card>
    <ng-container *ngIf="delegateId">
        <p>Přidat mise:</p>
        <mat-card class="card">
            <mat-form-field>
                <ngx-mat-file-input placeholder="Vyber CSV soubor" [accept]="'.csv'" #file></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
            &nbsp;
            <button mat-stroked-button color="accent" (click)="importProjects(file)">Přidat mise</button>
        </mat-card>
    </ng-container>
</div>