.tab-content {
    padding-bottom: 0;
}
.select {
    width: 270px; 
}
.select-field {
    width: 270px;
}

/deep/ .mat-select-panel mat-option.mat-option {
  height: unset;
}
  
/deep/ .mat-option-text.mat-option-text {
  white-space: normal;
  line-height: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}