<div class="tab-content">
    <mat-card class="action">
        <p><strong>{{questionName | async}}</strong></p>
        <form (ngSubmit)="vote(votingForm)" #votingForm="ngForm">
            <ng-container *ngFor="let votingRight of votingRights | async">
                <mat-form-field class="select-field">
                    <mat-label>{{ votingRight.name }} ({{ votingRight.votes }})</mat-label>
                    <mat-select name="{{votingRight.id}}" required ngModel class="select">
                        <mat-option *ngFor="let answer of answers | async" value="{{answer.value}}">
                            {{answer.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> &nbsp;
            </ng-container>
            <button type="Submit" mat-raised-button color="accent" *ngIf="!voted">Hlasovat</button>
            <button type="Submit" mat-raised-button color="accent" *ngIf="voted">Změnit hlasování</button>
        </form>
    </mat-card>
</div>