<form [formGroup]="delegateForm" appFireForm [path]="path" (stateChange)="changeHandler($event)">
    <div class="delegate-name">{{ name | async }}</div>&nbsp;
    <mat-form-field>
        <mat-label>Delegace</mat-label>
        <mat-select formControlName="delegation">
            <mat-option *ngFor="let delegation of delegations | async" value="{{delegation.id}}">
                {{delegation.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>&nbsp;
    <mat-form-field class="main-actions">
        <input matInput placeholder="Hlavní akce" type="number" formControlName="mainActions" />
    </mat-form-field>
    {{ state }} |
    <ng-container *ngIf="(dfInfo | async) as df">
        <span class="positive" *ngIf="df.spentState == 1">{{df.spentDf}}</span>
        <span class="negative" *ngIf="df.spentState == 3">{{df.spentDf}}</span>
        <span *ngIf="df.spentState == 2">{{df.spentDf}}</span>
        / {{df.availableDf}} DF použito
    </ng-container> | 
    <span class="positive" *ngIf="delegateForm.controls.markedAsSent.value">Depeše odeslána</span>
    <span class="negative" *ngIf="!delegateForm.controls.markedAsSent.value">Depeše neodeslána</span>
</form>