<mat-toolbar color="primary">
  <span>Konec dějin</span>
  <span class="fill-remaining-space"></span>
  <span class="name">Daniel Appleby</span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="1. kolo (aktuální)">
    <div class="tab-content">
      <mat-card>
        <p><i class="em-svg em-gb"></i> Velká Británie, vedoucí delegace </p>
        <p>Deadline odevzdání depeše: <strong>pátek 20:00</strong></p> 
        <p> K dispozici: <strong>60 DF</strong>, využito: <strong>0 DF</strong></p>
        </mat-card>
      <p>Hlavní akce:</p>
    </div>
  </mat-tab>
  <mat-tab label="2. kolo">
    <h1>2. kolo ...</h1>
  </mat-tab>
  <mat-tab label="3. kolo">
    <h1>3. kolo ...</h1>
  </mat-tab>
  <mat-tab label="4. kolo">
    <h1>4. kolo ...</h1>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>