.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
.name {
    font-size: medium;
}
.separator {
    color: lightgray;
}
.tab-content {
    padding: 1em;
}
.stretch {
    width: 100%;
}
.action {
    margin-bottom: 1em;
}
.df {
    width: 4em;
}
.type {
    width: 8em;
}